<div>
    <h1>Lista Todo</h1>
    <div>
        Indice del Todo da modificare: <br>
        <select class="form-select" [(ngModel)]="indexTodo">
            <option *ngFor="let t of todos; let i = index" [ngValue]="i">{{t.title}}</option>
        </select>
        <!-- <input type="number" [(ngModel)]="indexTodo"> <br> -->
        <button type="button" (click)="editTodo()">Modifica Todo</button>
    </div>
    <div class="card-list">
        <app-todo *ngFor="let t of todos" [todoCorrente]="t"></app-todo>
    </div>
    <!-- <app-todo-edit [todoDaModificare]="todoSelezionato"></app-todo-edit> -->
    <button class="btn btn-primary" (click)="caricaTodos()">Aggiorna</button>

</div>