<!--
  <div class="container">

    
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="arena-switch" [(ngModel)]="visualizzaArena" (ngModelChange)="listaOff()">
        <label class="form-check-label" for="arena-switch">Arena</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="lista-switch" [(ngModel)]="visualizzaLista" (ngModelChange)="arenaOff()">
        <label class="form-check-label" for="lista-switch">Lista</label>
      </div>
    <app-pokemon-list *ngIf="visualizzaLista"></app-pokemon-list>
    <app-pokemon-arena *ngIf="visualizzaArena" [ngClass]="visualizzaArena ? 'arena-on' : ''"></app-pokemon-arena>
  </div> 
-->

<!-- <app-todos></app-todos> -->
<div class="container">
  <nav>
    <a routerLink="/todos"> Todos </a>
    <a routerLink="/pokemoni"> Pokemoni </a>
    <a routerLink="/arena"> Arena </a>
  </nav>
  <router-outlet></router-outlet>
</div>
