.arena-on{
    background-image: url('https://c.wallhere.com/photos/8d/a6/pokemon_third_generation_Red_Pokemon-12270.jpg!d');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}