.custom-select{
    width: 77%
}

.input-group{
    max-width: 35%;
}

.pokemon-list,
.seleziona {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
